@import "../_variables";

//
  // Page Defualts
//

* {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  font-size: 11pt;
}

.main {
  padding: 0 5px;
}

/*rules to deal with zoom-on-focus issue*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

//
  // Links
//

a {
  color: $main-darker;
  text-decoration: none;
  &:hover {
    color: $main-color;
  }

  &:visited {
    color: $main-color;
  }
}

//
  // Buttons
//

button {
  box-sizing: border-box;
  font-size: 10pt;
  color: white;
  text-align: center;
  background: $main-color;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -4px $main-darker;
  margin: 2px;
  padding: 7px;
  @media screen and (max-width: 500px) {
    padding: 10px;
  }

  &:hover {
    background: lighten($main-color, 10);
    box-shadow: inset 0 -4px $main-color;
  }

  &:active {
    background: $main-darker;
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    background: grey;
    box-shadow: inset 0 -4px grey;
    cursor: not-allowed;
  }
}

button.inSearch {
  background: darken($main-darker, 15);
  color: $main-lighter;
  box-shadow: inset 0 4px darken($main-darker, 20);
}

.field-label {
  font-weight: bold;
  color: $main-color;
}
