
.no-image {
  display: none;
}

.go-search {
  padding: 20px 0;
  text-align: center;

  button {
    width: 30%;
    @media screen and (max-width: 500px) {
      width: auto;
    }
  }
}

.searchResult {
  outline: 1px solid #DDDDDD;
  padding: 5px;
  margin: 3px auto;
  display: flex;
  .record-details {
    display: inline-block;
    width: calc(100% - 100px);
    @media screen and (max-width: 500px) {
      display: block;
      width: auto;
    }
  }
}

.interactionsList {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
