.radio-group {
  ul {
    margin: 0;
    padding: 0;
  }
  ul li{
    color: #AAAAAA;
    display: inline-block;
    position: relative;
  }

  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  ul li label{
    display: block;
    position: relative;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  ul li:hover label{
    color: $main-lighter;
  }

  ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: 5px;
    left: 5px;
    // z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }

  ul li:hover .check {
    border: 2px solid $main-lighter;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 1px;
    left: 1px;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }

  input[type=radio]:checked ~ .check {
    border: 2px solid $main-color;
  }

  input[type=radio]:checked ~ .check::before{
    background: $main-color;
  }

  input[type=radio]:checked ~ label{
    color: $main-color;
  }
}
