.commonName {
  color: grey;
  margin-left: 10px;
}

ul.synonyms {
  list-style-type: none;
  padding-left: 4px;
  margin: 0;
}

.notes {
  clear: both;
  white-space: pre-line;
}

.scientific-name {
  font-size: 17px;
}

.scientific-name.notes {
  font-size: 11px;
}

.details {
  display: inline-block;
  float: left;
  width: calc(100% - 190px);
}

.display {
  padding: 10px 0;
}

/* LAPTOP MEDIA QUERIES */

@media screen and (min-width: 800px) {
  .display {
    width: calc(100vw - 360px);
    float: right;
    box-sizing: border-box;
    padding: 0 30px;
  }
}
