@import "../variables";

//
  // Small logo
//

.logo svg {
  fill: $main-color;
  width: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .acorn {
    stroke: $main-color;
    stroke-width: 5px;
    fill: white;
  }
}


//
  // Large logo
//

.logo-large svg {
  fill: white;
  width: 30vw;
  overflow: inherit;
  font-weight: 400;
  // @media
  .acorn { /*ACORN*/
    stroke: white;
    stroke-width: 4.5px;
    fill: white;
    fill-opacity: 0.7;
  }
  .acorn-cap {
    fill-opacity: 1;
  }
}
