<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>.cls-1{stroke-miterlimit:10;stroke-width:4px;}.cls-2{font-size:56.58px;font-family:GillSans, Gill Sans;}.cls-3{font-size:48px;letter-spacing:0em;}.cls-4{font-size:24px;}.cls-5{letter-spacing:-0.06em;}.cls-6{letter-spacing:0em;}</style>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>California Oak Disease and Arthropod Database</title>
  </head>
  <body>
    <div id="root"></div>
    <%=htmlWebpackPlugin.files.webpackManifest%>
  </body>
</html>
